html, body {
    width: 100%;
    height: 100%;
    overflow: auto;
}

body {
    background-color: #2e2e2e;
    margin: 0%;
    padding: 0%;
}

.background {
    background-image: url(../images/background/silhouette_of_munich.png);
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: bottom;    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #49505a;
}

ul:after {
    content: '';
    clear: both;
    display: block;
}

.dropdown-menu ul li{
    position: relative;
    min-width: 150px;
}

.players {
    float: left;
}

.gameBoard {
    float: left;
}

.dropdown-menu {
    float: left;
    position: relative;
    border: black;
    background: #49505a;
}

.dropdown-menu-content {
    display: none;
    position: absolute;
}

.dropdown-menu-content a:hover{
    background: #929292;
}

.dropdown-menu:hover .dropdown-menu-content {
    display: block;
}

.dropdown-menu a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}

a.button {
    padding: 
    -webkit-appearance: button;
    -moz-appearance: button;
    text-decoration: none;
    color: initial;
}

dialog:target {  
    display: block; 
}